@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.feed h1 {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}
.feed-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

    margin-left: 12px;
    margin-right: 10px;
}